package ${package};

import ${servicePackage}.${fileName}Service;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

/**
 * @Author: ${author}
 * @Description: 描述
 * @Date: 创建于${time}
 **/
@Slf4j
@Service
public class ${fileName}ServiceImpl implements ${fileName}Service {
}
