package ${package};

import ${servicePackage}.${fileName}Service;
import org.springframework.stereotype.Service;

/**
 * @Author: ${author}
 * @Description: 描述
 * @Date:  创建于${time}
 **/
@Service
public class ${fileName}ServiceImpl implements ${fileName}Service {

    @Override
    public Object list() {
        return null;
    }

    @Override
    public Object change() {
        return null;
    }

    @Override
    public Object delete(int id) {
        return null;
    }

}
