package ${package};

import org.springframework.stereotype.Service;

/**
 * @Author: ${author}
 * @Description:
 * @Date: 创建于${time}
 **/
@Service
public interface ${fileName}Service {

    /**
     * 列表
     *
     * @return
     */
    Object list();


    /**
     * 修改/新增
     *
     * @return 用户id
     */
    Object change();


    /**
     * 删除
     *
     * @param id
     * @return
     */
     Object delete(int id);
}
