package  ${package};

import ${servicePackage}.${fileName}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * https://tjxcold.chsgw.com 快速生成个人模板
 * @Author: ${author}
 * @Description: 描述
 * @Date: 创建于${time}
 **/
@RestController
@RequestMapping("/${fileName}")
public class ${fileName}Controller{


    @Autowired
    private ${fileName}Service ${fileName.toLowerCaseFirstOne()}Service;


    @GetMapping("/list")
    public Object list() {
        return ${fileName.toLowerCaseFirstOne()}Service.list();
    }


    @PostMapping("/change")
    public Object change() {
        return ${fileName.toLowerCaseFirstOne()}Service.change();
    }


    @PostMapping("/delete")
    public Object delete(int id) {
        return ${fileName.toLowerCaseFirstOne()}Service.delete(id);
    }


}
